@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Colors
$color-violett-100: #5B4897;
$color-violett-75: #8476B1;
$color-violett-50: #ADA4CB;
$color-violett-25: #D6D1E5;

$color-orange-100: #F39000;
$color-orange-75: #F6AC40;
$color-orange-50: #F9C880;
$color-orange-25: #FCE3BF;

$color-red-100: #E9454E;
$color-red-75: #EF747A;
$color-red-50: #F4A2A7;
$color-red-25: #F9D0D2;

$color-text: #2C2C2C;
$color-dark-grey: #828282;
$color-light-grey: #C7C7CC;


// Fonts
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-headline: 20px;
$font-size-regular: 18px;
$font-size-small: 14px;
