.layer-container {
  position: absolute;
  top: 10px;
  right: 20px;
}

.layer-panel {
  position: relative;
  z-index: 1;
  width: 150px;
  height: 160px;
}

.layer-1 {
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 46px;
  width: 60px;
  height: 60px;
  transform: rotate(-45deg) skew(20deg, 20deg);
  background: #c7c7cc;
  opacity: 50%;
}
.layer-1:hover {
  background: #5b4897;
  opacity: 50%;
}

.layer-2 {
  position: absolute;
  z-index: 2;
  top: 75px;
  right: 46px;
  width: 60px;
  height: 60px;
  transform: rotate(-45deg) skew(20deg, 20deg);
  background: #c7c7cc;
  opacity: 50%;
}

.layer-2:hover {
  background: #f39000;
  opacity: 50%;
}
