@import '../../base';

.logo {
  width: 180px;
  height: auto;
}

.design-scope {
  display: block;
  height: 680px;
  width: 100%;
}

.novatec-logo {
  width: 106px;
  height: auto;
  float: right;
  position: relative;
}

.start-date {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}

.end-date {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}

.counter-container {
  display: flex;
  flex-direction: row;
}

.counter-item {
  margin: 0px 80px 0px 0px;
}

.frequency-map-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.frequency-map-container p {
  margin-right: 50px;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cylce-time-group-container p {
  margin-bottom: 5px;
}
