@import '../../base';

.logo {
  width: 75%;
  height: auto;
}

.counter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frequency-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
